.side-bar
  .side-bar__top
    .side-bar__top_icon
      = link_to "" do
        = fa_icon "edit"
      = link_to "" do
        = fa_icon "cog"
    .side-bar__top_user_name
      oyaji
  .side-bar__groups
    .side-bar__groups_group-name
      サンプル
    .side-bar__groups_message
      gohogoho
.main-space
  = yield

